body {
  font-family: 'Kalam';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 color: #634421;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

.content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 0px 200px 0px;
  align-items: center;
}
.header-logo {
  font-weight: bold;
  font-size: 24px;
  margin-right: auto;
}

ul, .hero-secondary-text, .info-text, .hero, .call-to-action-secondary-text {
  font-size: 22px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 80px 100px;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.hero-main-text {
  font-size: 68px;
  font-weight: bolder;
}

button {
  color: white;
  padding: 8px 38px 8px;
  background-color: #E5890A;
  border-radius: 8px;
  font: inherit;
  border-color: #634421;
}

.information {
  padding: 45px 80px 60px;
  background-color: #FAD480;
}

.information-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  color: #E5890A;
}

.info {
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.info-title {
  font-size: 30px;
  font-weight: bolder;
}

 .info img {
  height: 200px;
  width: 200px;
}

.quote {
  display: flex;
  flex-direction: column;
  padding: 100px 525px 100px;
}

.quote-main-text{
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quotee {
  font-size: 25px;
  font-weight: bolder;
  text-align: right;
}

.call-to-action {
  padding: 100px 200px 100px;
  background-color: #FAD480;
}

.call-to-action-container {
  color: white;
  background-color: #B4914D;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  gap: 50px;
  padding: 50px 25px 50px;
}

.call-to-action-title {
  font-size: 35px;
  font-weight: bolder;
}

.call-to-action-secondary-text {
  color: white;
}

.flaticon {
  display: flex;
}

.footer {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer a{
  color: #B4914D;
}